body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.215;
  letter-spacing: 0.04em;
  background-color: #FFF6B2;

}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/* #root{
  background-color: red;
/* padding: 10px; */

/* }

 @media (min-width: 768px) {
  #root{
    background-color:green}
  } */ 
